.chat-input::placeholder {
    color: white;
}

.pos{
    position: fixed;
    bottom: 0;

}

.bor{
    border: solid;
    border-color: #BA9359;
}

.send-button {
    background: none;
    border: none;
    margin-left: 5vh;
    cursor: pointer;
    color: black;
}

.send-button svg {
    width: 24px;
    height: 24px;
}

/* Add this to your input.css */
.no-outline:focus {
    outline: none;
    box-shadow: none;
}

/* Optionally, add a rule to remove any border on focus */
.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}
